---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		From a young age, I was captivated by technology, inspired by my parents and older siblings as they explored their latest gadgets and innovations. 
		This early fascination sparked a curiosity that has fueled my passion for the tech world, guiding me through a diverse range of educational and professional experiences.
		Transitioning from IT support, where I honed my troubleshooting and customer service skills, I have gained valuable experience in Networking and AWS Cloud Engineering. 
		This background has deepened my understanding of the tech landscape and equipped me to address complex challenges head-on. 
		I am a highly motivated individual with a strong aptitude for learning new technologies and growing in collaborative team environments, effectively working with colleagues to achieve shared goals.

		I am currently enrolled in Per Scholas' comprehensive Software Engineering training program. I am mastering programming fundamentals and the MERN stack (MongoDB, Express.js, React, Node.js), while embracing Agile methodologies. 
		This training equipped me with the skills needed to develop dynamic applications and fulfilled my aspiration to become a software engineer.
		I am eager to connect with like-minded professionals and explore exciting opportunities within the tech industry.
		Let’s collaborate and build innovative solutions together!
	</p>

	<p>
	
	</p>

	

	
</Layout>
