---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div>
			<h1> Hello, Stranger!</h1>
			<h2> Welcome to my personal website,<br>
				This a a very simple website for now and will be updated <br>
				periodically... For now you can ready my first blog entry in the Blog section.
			</h2>
			<h3> Thanks for stopping by! </h3>
			</div>
			
		</main>
		<Footer />
	</body>
</html>
